<section id="references" class="section references-section">
    <div class="container">
        <div class="section-header reveal-up">
            <h2 class="section-title">Academic<br><span class="highlight">References</span></h2>
            <span class="section-tag">Sources & Citations</span>
        </div>
        <div class="references-content reveal-up">
            <div class="references-intro">
                <p>This digital portfolio was created with information gathered from the following credible academic and institutional sources, following APA 7th Edition citation format.</p>
            </div>
            <div class="references-list">
                <div class="reference-item">
                    <span class="ref-number">1</span>
                    <div class="ref-content">
                        <p>Government of Dubai. (2024). <em>Dubai Statistics Center: Population and vital statistics</em>. Dubai Statistics Center. <a href="https://www.dsc.gov.ae" target="_blank">https://www.dsc.gov.ae</a></p>
                    </div>
                </div>
                <div class="reference-item">
                    <span class="ref-number">2</span>
                    <div class="ref-content">
                        <p>Hvidt, M. (2009). The Dubai model: An outline of key development-process elements in Dubai. <em>International Journal of Middle East Studies, 41</em>(3), 397-418.</p>
                    </div>
                </div>
                <div class="reference-item">
                    <span class="ref-number">3</span>
                    <div class="ref-content">
                        <p>UAE Ministry of Culture and Youth. (2024). <em>Intangible cultural heritage of the United Arab Emirates</em>. <a href="https://mcy.gov.ae" target="_blank">https://mcy.gov.ae</a></p>
                    </div>
                </div>
                <div class="reference-item">
                    <span class="ref-number">4</span>
                    <div class="ref-content">
                        <p>Expo 2020 Dubai. (2022). <em>Official Expo 2020 Dubai legacy report: Connecting minds, creating the future</em>. Expo 2020 Dubai LLC.</p>
                    </div>
                </div>
                <div class="reference-item">
                    <span class="ref-number">5</span>
                    <div class="ref-content">
                        <p>Human Rights Watch. (2023). <em>United Arab Emirates: Events of 2022</em>. Human Rights Watch World Report 2023. <a href="https://www.hrw.org" target="_blank">https://www.hrw.org</a></p>
                    </div>
                </div>
                <div class="reference-item">
                    <span class="ref-number">6</span>
                    <div class="ref-content">
                        <p>Dubai Electricity and Water Authority. (2024). <em>Dubai Clean Energy Strategy 2050</em>. DEWA Official Publications.</p>
                    </div>
                </div>
                <div class="reference-item">
                    <span class="ref-number">7</span>
                    <div class="ref-content">
                        <p>UAE Government Portal. (2024). <em>Labor rights and relations in the UAE</em>. <a href="https://u.ae/en/information-and-services" target="_blank">https://u.ae</a></p>
                    </div>
                </div>
                <div class="reference-item">
                    <span class="ref-number">8</span>
                    <div class="ref-content">
                        <p>Davidson, C. M. (2008). <em>Dubai: The vulnerability of success</em>. Columbia University Press.</p>
                    </div>
                </div>
            </div>
            <div class="references-note">
                <h4><i class="fas fa-info-circle"></i> Image Credits</h4>
                <p>All images used in this portfolio are from Unsplash.com and NASA Earth Observatory, available under their respective licenses for educational use.</p>
            </div>
        </div>
    </div>
</section>
